<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stock Portfolios</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="home.css">
</head>

<body>
    <h1>Stock Portfolio Manager</h1>
    <div class="container">
      <a href="/insertPortfolio" class="list-button">
        <div>
          <h2>Create Portfolio</h2>
          <p>Enter your stock tickers to watch</p>
        </div>
      </a>

      <a href="/portfolios" class="list-button">
        <div>
          <h2>View Portfolios</h2>
          <p>See what stocks other people are watching</p>
        </div>
      </a>

      <form id="getPrices" action="/getPrices" method="post" class="list-form">
        <div>
          <h2>View portfolio</h2>
          <p>See what stocks someone is watching and how they&apos;re doing</p>
        </div>
        <div class="input-field">
          <select id="names" name="names">
            <% items.forEach(item=> { %>
              <option value="<%= item.name %>">
                <%= item.name %>
              </option>
              <% }); %>
          </select>
          <input type="submit" value="Get Prices" />
        </div>
      </form>

      <form id="removePortfolio" action="/removePortfolio" method="post" class="list-form">
        <div>
          <h2>Remove Portfolio</h2>
          <p>Remove a portfolio from the list</p>
        </div>
        <div class="input-field">
          <select id="namesRemove" name="name">
            <% items.forEach(item=> { %>
              <option value="<%= item.name %>">
                <%= item.name %>
              </option>
              <% }); %>
          </select>
          <input type="submit" value="Remove Portfolio" />
        </div>
    </div>
</body>

</html>