<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Application</title>
  <link rel="stylesheet" type="text/css" href="home.css">
</head>

<body>
  <h1>Create Portfolio</h1>
  
  <div class="container">
    <form id="applyForm" action="<%- URL %>" method="post" class="list-form">
      <label for="name"><b>Name: </b></label>
      <span class="input-field">
        <input type="text" name="name" id="name" />
      </span>

      <label for="tickers"><b>List of Tickers (Comma Separated): </b></label>
      <div class="input-field">
        <textarea name="tickers" id="info" cols="70" rows="5" style="resize: vertical;"></textarea>
        <input type="reset" value="Reset" />
        <input type="submit" value="Add Portfolio" />
      </div>

    </form>
  </div>


  <script>
    window.onsubmit = function submitDataConfirm() {
      let answer = window.confirm(
        "Confirm that you want to submit the form data."
      );
      return answer;
    };
  </script>

  <a href="/" class="return-link">Return to home</a>
</body>

</html>