<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Result</title>
  <link rel="stylesheet" type="text/css" href="home.css">
</head>

<body>
  <h1>Portfolios</h1>

  <div class="container">
    <%- table %>
  </div>

  <a href="/" class="return-link">Return to home</a>
</body>

</html