<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Application Confirmation</title>
  <link rel="stylesheet" type="text/css" href="home.css">
</head>

<body>
  <h1>Portfolio Submitted!</h1>

  <div class="info-list">
    <p>Name: <%- name %></p>
    <p>Tickers: <%- tickersList %></p>
    <p>Prices: </p>
  </div>
  <div class="container">
    <%- table %>
  </div>

  <a href="/" class="return-link">Return to home</a>
</body>

</html>