<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Application Confirmation</title>
</head>

<body>
  <h1>Portfolio Submitted!</h1>

  <b>Name: </b><%- name %><br />
    <b>Tickers: </b><%- tickersList %><br />
      <b>Prices: </b><%- table %><br />
      <hr />

      <a href="/">HOME</a>
</body>

</html>