<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Successfully Removed Portfolio</title>
  <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
  <h1>Successfully removed <%- name %>&apos;s portfolio!</h1>
  <a href="/" class="return-link">Return to home</a>
</body>
</html>